body{
    background-color: cadetblue;
}

#container {
    background-color: aliceblue;
    width: 950px;
    margin: 20px auto;
    border: 4px solid;
    padding: 20px;
    border-radius:20px;
}
header {
    text-align: center;
}
nav {
    text-align: center;
    border-top: 4px solid;
    border-bottom: 4px solid;
    padding: 20px 0;
}

nav a:hover{
    color: #022626;
    text-decoration: none;
}


footer{
    padding: 40px 0;
    text-align: center;
    border-top: 4px soldid;
}