/* Global Styles */

body {
    background-color: #404f8a;
}

img {
    display:block;
    margin: 0 auto;
    width: 100%;
}

a {
    color: white;
}

a:hover {
color: red;
text-decoration: none;
}

/* Mobile Styles */

#container {
    border: 4px solid white;
}

nav {
    text-align: center;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    background-color:#404f8a;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-size: 25px;
    border-bottom: 2px solid white;
}

nav li a:hover {
color: white;
background-color: #004066;
}

main {
    padding: 10px;
    margin: 10px;
}

main h2 {
    text-align: center;
}

section, 
aside {
    border-radius: 20px;
    border: 2px solid white;
    margin: 20px;
    padding: 20px;
}

section {
    width: 75%;
}

aside {
    width: 25px;
}

section img {
    border-radius: 10px;
    border: 2px solid white;
    width: 75%;
}

footer {
    padding: 40px;
    text-align: center;
}

/* Tablet Styles */

@media (min-width: 768px) {


    nav {
        padding: 10px 0;
        border-bottom: 4px solid white;
        margin-top: 10px;
    }

    nav li {
        display: inline-block;
    }

nav li a {
    display: inline;
    width: 150px;
    height: 40px;
    }
}

/* Destop Styles */
@media (min-width: 1024px) {
    #container {
        width: 65%;
        margin: 20px auto;
    }

    .col {
        border:2px solid white;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
    }

    .col_img {
        width:100%;
    }
}


main{
    display: flex;
}

main h2 {
    text-align: center;
}

header {
    text-align: center;
    padding: 40px;
    border-bottom: 2px solid white;
}
